<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="as:clientAllowedOrigin" value="true"/>
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="20" />
  <add key="MaxPage" value="5" />
  <add key="ReportFolder" value="/Reports"/>
  <add key="Password" value="Abc12345"/>
  <add key="Nexmo.UserAgent" value="myApp/1.0" />
  <add key="Nexmo.Url.Rest" value="https://rest.nexmo.com" />
  <add key="Nexmo.Url.Api" value="https://api.nexmo.com" />
  <add key="Nexmo.api_key" value="bc8323fc" />
  <add key="Nexmo.api_secret" value="8296a7107eabd981" />

</appSettings>