<connectionStrings>
  <!--<add name="EmpManConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=EmpManAPI;Integrated Security=False;User Id=sa;Password=121189;MultipleActiveResultSets=True" />-->
  <add name="EmpManConnection" providerName="System.Data.SqlClient" connectionString="Data Source=HOA-NX-LAPTOP\SQLEXPRESS2016;Initial Catalog=EmpManAPI;Integrated Security=False;User Id=sa;Password=Abc12345;MultipleActiveResultSets=True" />

</connectionStrings>